extends layout

block content
    .row
        .col-sm-10.text-left.jumbotron
            block data
        .col-sm-2.sidenav
            br
            .card.card-block.bg-dark.text-white
                img.card-img-top(src='img/GitHub-Mark-Light-120px-plus.png', alt='GH icon')
                .card-body
                    p.card-text Checkout this&nbsp;
                        a(href='http://github.com/Berkmann18', target='_new') guy
            br
            .card.card-block.bg-dark.text-white
                h3.card-title Another ad
                a(href='#').card-text Dolore sit amet